
.login-card{
    border-bottom: 1px solid rgb(34, 138, 235);
    padding: 0 0 4px;
}

.table-details-container{
    margin-top: 5% !important
}

.input-details{
    width: 24%;
}

.page-link{
    height: 100%;
    background-color: rgb(243, 234, 234);  
}

.text-details{
    text-align: center;
    margin-top: 25%;
    border-bottom: 5px solid rgb(20, 131, 165);
    padding: 0 0 4px;
}

.company-name{
    height: 4rem;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: rgb(88, 216, 255) !important;
}

.card-details{
    margin-top: 10%;
}

.login-card{
    font-family: 'Oswald', sans-serif;
}